extends ../layout

block content
  .table-responsive
    .title
      h3.col-12.text-center ROUND FOR #{year}
    table(class="table table-hover")
      thead
        tr 
          th(scope="col")
          th(scope="col") MONTH
          th(scope="col") DUE DATE
          th(scope="col") NAME
          th(scope="col") AMOUNT
        tbody
          each detail in roundTableDetails.detailsEntries
            tr 
              td.count 
                | #{detail.count}
              td.month 
                | #{detail.month}
              td.day 
                | #{detail.day}
              td.name 
                | #{detail.name}
              td.amount 
                | $ #{detail.amount}.00